::-webkit-scrollbar {
    width: 12px; 
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #0e1111;
}

::-webkit-scrollbar-thumb {
    background: white;
    border: 2px solid #0e1111;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(196, 196, 196);
}


html, body{
    margin:0;
    padding:0;
    font-family:Inter; /* <weight>: Use a value from 100 to 900 */

}

nav{
    background-color:#0e1111;
    color:white;
    text-align:right;
    white-space: nowrap;
    margin-top:-20px;
    overflow-x: auto;
}

.navbar ul li a{
    position:relative;
    display:inline-block;
}

.navbar ul li a::before{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:3px;
    margin-bottom:-5px;
    background:linear-gradient(to right, white, white);
    transform:scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-in-out;
}

#nav-item-shervin a::before {
    content: none;
}

.navbar ul li a:hover::before{
    transform:scaleX(1);
    transform-origin: bottom left;
}

#navbar-list{
    max-width:80%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 10px 0px;

}

#nav-item-shervin{
    font-weight: bold;
    font-size:1.75em;
    text-align:left;
    float:left;
    list-style-type: none;
    margin: 0 10vw 0 0;
    padding: 5px 0 0 0;
}

#navbar-list a{
    color: inherit;
    text-decoration: none;
}

.nav-item{
    font-weight: 400;
    font-size: 1.25em;
    padding: 30px 0 30px 60px;
    text-align:right;
    display:inline-block;
    
}


header{
    background-color:#484F62;
    color:white;
    display: flex; 
    align-items: flex-start;
    overflow:hidden;
    z-index:0;
}

.non-homepage-header{
    max-width: 80%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.non-homepage-header h3{
    margin-left:0;
    margin-right:0;
    text-align:left;
}

#header-headshot{
    width:35vw;
    height:auto;
    object-fit:cover;
    margin: -16px -2vw 0 0;
    z-index:-1;
    position:relative;
    left:-100px;
}

#name-and-titles{
    padding: 2vw 0 0 8vw;
    max-width: calc(100% - 40vw - 200px); /* Ensures word wrap fits within available space */
    overflow-wrap: break-word;
    word-break: break-all;
}

h1{
    font-size:calc(5vw + 10px);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h2{
    font-weight:normal;
    font-style:italic;
    font-size:calc(1vw + 15px);
    margin: -4vw 0 0 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

main{
    max-width: 80%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    flex:1;
    padding:0;
}

main>p,#ml-assisted-measurements,#designations-awards-honours{   
    font-size:calc(0.5vw + 10px);
    line-height:calc(0.5vw + 20px);
    text-align:left;
    word-wrap:break-word;
}

#designations-awards-honours{
    margin-top:-1vw;
}

#full-designations-awards-honours{
    margin-top:3vw;
}

main>p{
    margin-bottom:-0.5vw;
}

main>#ml-assisted-measurements,#previous-courses,#previous-research-projects,#past-activities,#full-designations-awards-honours{
    margin-bottom: 3vw;
}

main>#activities-institutional,#activities-editorial-board,#activities-conference-organizing,#activities-technical-societies,#designations-awards-honours{
    margin-bottom: 2vw;
}

main>#current-research-projects,#previous-research-projects,#previous-courses,#full-designations-awards-honours{
    font-size:calc(0.5vw + 5px);
    line-height:calc(0.5vw + 10px);
    text-align:left;
    word-wrap:break-word;
}

.list-item-title{
    list-style-type:square;
}

.list-item-content{
    list-style-type: none;
    padding: 0 0 20px 0;
}

#full-designations-awards-honours>.list-item-title{
    padding: 0 0 5px 0;
}

#current-research-projects>.list-item-content,#previous-research-projects>.list-item-content,#previous-courses>.list-item-content{
    padding: 0 0 7px 0;
}

#name-and-titles>p{
    font-size:calc(1vw + 5px);
    margin: 6vw 0 0 0;
}

#research-funding{
    background-color:white;
    margin-top:calc(-3vw - 20px);
    z-index:1;
}

.research-funding-text{
    background-color:white;
    max-width: 90%;
    margin-left:auto;
    margin-right:auto;
}

h3{
    font-size:calc(1vw + 15px);
    margin: 3vw 0 3vw 0;
    text-align:left;
    position:relative;
    z-index: 100;
}

h4{
    font-size:calc(1vw + 10px);
    font-weight:normal;
    font-style:italic;
    margin: -0.5vw 0 -1vw 0;
}

#research-funding h3{
    font-size:calc(1vw + 15px);
    margin: 3vw 0 -1vw 0;
    padding:2vw 0 1vw 0;
    text-align:center;
}

.research-funding-text>p{
    text-align:center;
    font-size:calc(1vw + 5px);
    padding:1vw 0 2vw 0;
}

/*             <div class="private-sector-logos">
                <div class="private-sector-logos-sliding"> */

.private-sector-logos {
    overflow: hidden;
}

.private-sector-logos-sliding {
    display: flex;
    white-space: nowrap;
    animation: 40s sliding-logos infinite linear;
    margin-bottom: 3vw;
}

.private-sector-logos-sliding.reverse {
    animation: 40s reverse-sliding-logos infinite linear;
}

.private-sector-logos-sliding img {
    height: 3vw;
    width: auto;
    padding: 0 4vw;
}

@keyframes sliding-logos {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(calc(-100% - ((3vw + 8vw) * 9))); /* Adjust for half of the images */
    }
}

@keyframes reverse-sliding-logos {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(calc(100% + ((3vw + 8vw) * 9)));
    }
}


.bio-background{
    background-color:#484F62;
    width:100%;
    padding:20px 0;
}

#about,#alumnus,#profiles{
    line-height:calc(0.5vw + 20px);
    display: flex; 
    max-width:80%;
    width:100%;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    margin:0 auto 6vw auto;
}

#about{
    color:white;
}

#discover-lab-img{
    width:100%;
    margin-top:-1.5vw;
    margin-bottom:calc(-0.1vw - 10px);
}

#about>h3{
    flex-basis:100%;
}

#bio{
    display: flex; 
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    min-width: 0;
    margin-top:-1vw;
}

#bio>p{
    font-size:calc(0.5vw + 10px);
    text-align:left;
    word-wrap:break-word;
    margin: -0.5vw 0 0 0;
    padding: 0 9vw 0 0;
    width:50vw;
    align-items: center;
}

#bio>#about-headshot{
    width:25vw;
    height:auto;
    object-fit:cover;
}

#about>#header-alumnus,#header-profiles{
    clear:both;
    text-align:left;
    margin: -1.5vw 0 0 0;
}

footer{
    background-color:#0e1111;
    color:white;
    white-space: nowrap;
    overflow-x: auto;
    padding: 20px 0 80px 0;
    
}

#footer-content{
    max-width:80%;
    margin: 0 auto;
    padding: 20px 0px 10px 40px;
}

#footer-content>p{
    float:left;
    text-align:left;
}

.text-right-aligned{
    float:right;
}

.text-center-aligned{
    font-size:1.75em;
    position:relative;
    left:calc(50% - 5vw);
    top:60px;
}