html, body{
    margin:0;
    padding:0;
}

nav{
    background-color:#0e1111;
    color:white;
    font-family:Inter; /* <weight>: Use a value from 100 to 900 */
    text-align:right;
    white-space: nowrap;
    margin-top:-20px;
}

#navigation{
    max-width:90vw;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 10px 0px;
}

#nav-item-shervin{
    font-weight: bold;
    font-size:1.75em;
    text-align:left;
    float:left;
    list-style-type: none;
}

.nav-item{
    font-weight: 400;
    font-size: 1.25em;
    padding: 30px 30px 30px 30px;
    text-align:right;
    display:inline-block;
}

header{
    max-width:90vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#header-headshot{
    width:800px;
    height:auto;
    object-fit:cover;
    margin: -16px;
    float:left;
    position:relative;
    left:-125px;
}

#name-and-titles{
    padding:100px;
    margin: 0 0 0 40%;
}

h1{
    font-family:Inter;
    font-size:96px;
    float:right;
}