html, body{
    margin:0;
    padding:0;
}

nav{
    background-color:#0e1111;
    color:white;
    font-family:Inter; /* <weight>: Use a value from 100 to 900 */
    text-align:right;
    white-space: nowrap;
    margin-top:-20px;
}

#navigation{
    max-width:90vw;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 10px 0px;
}

#nav-item-shervin{
    font-weight: bold;
    font-size:1.75em;
    text-align:left;
    float:left;
    list-style-type: none;
}

.nav-item{
    font-weight: 400;
    font-size: 1.25em;
    padding: 30px 30px 30px 30px;
    text-align:right;
    display:inline-block;
    
}

header{
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    align-items: flex-start;
}

#header-headshot{
    width:35vw;
    height:auto;
    object-fit:cover;
    margin: -32px 0 0 -40px;
}

#name-and-titles{
    padding: 3vw 0 0 8vw;
    max-width: calc(100% - 30vw - 300px); /* Ensures word wrap fits within available space */
    overflow-wrap: break-word;
}

h1{
    font-family:Inter;
    font-size:calc(10px + 5vw);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h2{
    font-family:Inter;
    font-weight:normal;
    font-style:italic;
    font-size:calc(1vw + 10px);
    margin: -3vw 0 0 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}